
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/*-------------------------------我是分割线-----------------------------------------*/

/*内容开始*/
html,body{
    image-rendering: -webkit-optimize-contrast;
    width: 100%;
    height: 100%;
    position: relative;
}

.lead_logo{
    width: 100%;
    height: 16%;
}
.xdf_logo{
    width: 100%;
}
/*左侧菜单栏start*/
aside{
    position: fixed;
    top:0;
    left:0;
    display:inline-block;
    width: 12%;
    z-index: 1000;

}
ul{
    width: 100%;
    height: 100%;
}
aside>ul>li{
    display:block;
    width:100%;
    height: 14%;
    line-height:14%;
    list-style:none;
    text-align: center;
}

aside>ul>li>span{
    display:inline-block;
    height:100%;
    width: 100%;
    line-height: 20px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 16% 0 16% 0;
    font-family: "Microsoft YaHei";
}
.d2Color{
    background-color: #d2d2d2;
}
aside>ul>li:nth-child(7)>span{
    width: 100%;
    height: 100%;
    padding:0;
}
aside>ul{
    display:inline-block;
    width: 12%;
    z-index: 1000;
    position: fixed;
    left:0;
}
.nativeColor{
    background-color: #fff;
    color: #000;
}
.activeColor{
    background-color:#ED4949;
    color: #ffffff;
}
/*左侧菜单栏end*/
/*乐语弹窗start*/

.leyuu{
    position: fixed;
    right:0;
    top:12%;
    z-index: 999;
}

/*乐语弹窗end*/

/*第一栏的fullpage开始*/
#section0,
#section1,
#section2,
#section3
{
    background-size: 88% 110%;
    background-position: right;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#section0{
    background-image: url(../images/志领计划1_1.jpg);
    padding: 12% 0 0 28%;
}
#section1{
    background-image: url(../images/志领计划1_2.jpg);
    padding: 50% 0 0 20%;
}
#section2{
    background-image: url(../images/志领计划1_3.jpg);
    padding: 50% 0 0 20%;
}
#section3{
    background-image: url(../images/志领计划1_4.jpg);
    padding: 50% 0 0 20%;
}

#section0 .word .line1 span:nth-child(1){
   font:60px "microsoft Yahei";
   color: #fff;
} 
#section0 .word .line1 span:nth-child(2){
    font:30px "microsoft Yahei";
    color: #fff;
 } 
 #section0 .word .line2 span:nth-child(1){
    font:96px "microsoft Yahei";
    color: #fff;
 } 
 #section0 .word .line2 span:nth-child(2){
    font:46px "microsoft Yahei";
    color: #fff;
 } 
 #section0 .word .line3{
     
 }
 #section0 .word .line3{
    padding-top: 80px;
    font:42px "microsoft Yahei";
    color: #fff;
 } 

/*第二栏课程表部分开始*/
.Content{
    width: 100%;
    height: 100%;
    overflow-y:auto
}
.Content img:nth-child(1){
    margin-left:12%;
    height: 125%;
    width: 88%;

}
.Content img:nth-child(2){
    margin-left:12%;
    height: 125%;
    width: 88%;

}
.Content img:nth-child(3){
    margin-left:12%;
    height: 100%;
    width: 88%;

}
/*第三栏导师团*/
.Teacher{
    width: 100%;
    height: 100%;
}
.Teacher .right{
    margin-left:12%;
    width: 88%;
    /* height:110%; */
    background: url('../images/导师团.jpg')  no-repeat;
    background-size: 90% 120%;
    overflow: hidden;
}
.Teacher .right .teachers{
    margin-top:20%;
}
/* .Teacher .right .top{
    margin: 4% 0 0 7%;
    font-family:"Microsoft Yahei";
    color: #1f1f1f;
}
.Teacher .right .top p:nth-child(1){
    font-size:55px;
    line-height:85px;
}
.Teacher .right .top p:nth-child(2){
    font-size:80px;
    padding-bottom:80px;
} */
/* 第三部分轮播图*/
.swiper-container {
    width: 1408px;
    height:400px;
    overflow: hidden;
}
.swiper-button-prev{
    background-image: url(../images/swiper_button_pre.png);
}
.swiper-button-next{
    background-image: url(../images/swiper_button_next.png);
}


 /*第四部分课程图*/

#section4,
#section5,
#section6,
#section7,
#section8
{
    background-size: 88% 110%;
    /*background-position: right;*/
    /*background-attachment: fixed;*/
    background-repeat:no-repeat;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#section4{
    background-image: url(../images/志领计划4_1.jpg);
}
#section5{
    background-image: url(../images/志领计划4_2.jpg);
}
#section6{
    background-image: url(../images/志领计划4_3.jpg);
}
#section7{
    background-image: url(../images/志领计划4_4.jpg);
}
#section8{
    background-image: url(../images/志领计划4_5.jpg);
}

#container,
.sections,
.sec {
    /*必须，兼容，在浏览器不支持transform属性时，通过改变top/left完成滑动动画*/
    position: relative;
    /*必须，关系到单个page能否全屏显示*/
    height: 100%;
    left:2%

}
.sec {
    /*有背景图时必须，关系到背景图能够全屏显示*/
    /*background-color: #000;*/
    background-size: cover;
    background-position: 50% 50%;
}

/*第五部分联系我们*/
.Contact{
    /*width: 100%;*/
    height: 100%;
    /*overflow-y:auto*/
    background-image: url(../images/志领计划5.jpg);
    background-size: 88% 100%;
    background-repeat:no-repeat;
    background-position: 100% 0;
}
/*.Contact img{*/
    /*margin-left:12%;*/
    /*height: 100%;*/
    /*width: 88%;*/
    /*float: right;*/
    /**/
/*}*/